<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<td><a href="/">홈으로</a></td>
		</tr>
		<tr>
			<td><h1>활동중인 회원 명단</h1></td>
		</tr>
		<tr th:each="m:${m}">
			<td th:if="${m.leave}==0">[[${m.id}]]<a
				th:href="@{adimin.delete.writeandmember(id=${m.id})}">글 삭제+ 회원
					탈퇴</a> &nbsp;	
			<a th:href="@{adimin.delete.member(id=${m.id})}">회원탈퇴</a>
			</td>

		</tr>
		<tr>
			<td><h1>탈퇴한 회원 명단</h1></td>
		</tr>
		<tr th:each="m:${m}">
			<td th:if="${m.leave}==1">[[${m.id}]]</td>
		</tr>
		
		<tr><td><h1>회원 로그</h1></td></tr>
		<tr th:each="ml:${memberlog}">
			<td>[[${ml.logId}]]</td>
			<td>[[${ml.logDate}]]</td>
		</tr>
		
		
		
		
		
		
		
		
	</table>

</body>
</html>