<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css"></style>
</head>
<body>
	<table th:fragment="loginedM" border="1">
		<tr th:each="m:${session.loginMember}">
			<td align="center"><img style="width: 40px; max-height: 100px;" id="img" th:src="${m.icon}"></td>
					
			<td align="center" th:text="${m.nick}"></td>
			<td align="center">point:[[${m.point}]]</td>
		</tr>
		<tr>
			<td align="center"><a href="member.detailck.go">내 정보</a></td>
			<td align="center"><a href="member.logout">로그아웃</a></td>
		</tr>
	</table>

</body>
</html>