@charset "UTF-8";
.letterR {
  color: rgb(47, 58, 142); /* Change this to the desired color for R */
}

.letterA {
  color: rgb(254, 128, 109); /* Change this to the desired color for A */
}


body::-webkit-scrollbar{
	width: 0;
	display: none;
	}

body {
	
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
button{
	cursor: pointer;
	
}

#titleArea {
	background-color: white;
	width: 100%;
	height: 150px;
	border: black solid 3px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
}

#titleArea .th1 {
	padding-left: 50px;
	width: 300px;
	font-size: 35pt;
}

#login {
	width: 300px;
}

#menuArea td {
	padding: 20px;
	font-size: 17pt;
	margin-left: auto;
	margin-right: auto;
}

#contentArea {
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#board {
	border-spacing: 0;
	text-align: center;
	padding: 0px;
}

/*#board td {
	margin: 50px;
	padding: 50px;
	border: black solid 1px;
	width: 300px;
	height: 200px;
}*/

#board td {
	border-bottom: black dotted 1px;
	height: 16px;
	width: 375px;
}

#board tr:nth-last-child(1) td {
	border-bottom: none;
}

#board th {
	background-color: lightgray;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
	margin: 0px;
}

